#preview {
    height: 150px;
    width: 150px;
    border: 5px solid black;
    position: absolute;
    right: 5%;
    top: 5%;
    background-color: white;
}

#sauce-tomato {
    position: absolute;
    height: 10px;
    width: 50px;
    top: 100px;
    margin-left: 50px;
    background-color: rgb(239,35,60);
}

#sauce-chili {
    position: absolute;
    height: 5px;
    width: 80px;
    top: 115px;
    margin-left: 35px;
    background-color: rgb(251,133,0);
}

#sauce-cheese {
    position: absolute;
    height: 5px;
    width: 75px;
    top: 120px;
    margin-left: 37px;
    background-color: rgb(255,209,102);
}

#sauce-pepper {
    position: absolute;
    height: 5px;
    width: 66px;
    top: 110px;
    margin-left: 42px;
    background-color: rgb(153,88,42);
}

#sauce-bowl {
    position: relative;
    height: 10px;
    width: 100px;
    top: 125px;
    margin-left: 25px;
    background-color: rgb(34,87,122);
}

#title{
    position: relative;
    text-align: center;
    font-size: 30px;
    margin-top: -100px;
    font-family: 'Pixelify Sans', cursive;
    font-weight: bolder;
    color: orange;
    text-shadow: 2px 2px rgb(118, 17, 17);
    
}

#startDiv {
    position: absolute;
    text-align: center;
    left: 43%;
    margin-top: 50px;
}

#stButton {
    font-family: 'Pixelify Sans', cursive;
    font-size: 20px;
    width: 150px;
    height: 50px;
}

#stButton:hover{
    background-color: greenyellow;
    cursor: pointer;
}

#bowl {
    position: relative;
    height: 10px;
    width: 100px;
    top: 90%;
    background-color: rgb(34,87,122);
}

#sauces {
    position: absolute;
    background-color: transparent;
    bottom: 0;
    margin-left: 10px;
    height: 100px;
    width: 100px;
}

#gameWindow {
    position: absolute;
    top: 0px;
    left: 200px;
    bottom: 100px;
    height: 86%;
    width: 100%;
    z-index: -1;
    background-color: transparent;
    background-size:cover;
}

.pipes {
    display: flex;
    justify-content: space-evenly;
    align-content: flex-end;
    height: 120px;
    width: 72%;
    z-index: 1;
}

.pipes div {
    display: flex;
    justify-content: center;
    background-color: transparent;
    width: 120px;
    text-align: center;
    background-image: url("images/pipe3.png");
}