
body {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  overflow: hidden;
  background-color: black;
}

html, body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.container {
    color: rgb(128, 0, 28);
    font-size: 20px;
    font-weight: bold;
    background-image: url('./images/order_food_bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top center;
    background-size: cover; /* or 100% 100% */
    height: 100vh;
}

.food-type {
  margin: 10px;
  display: flex;
}

.image {
  width: 100%;
  height: 100%;
}

.image:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
}

img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.choose-food-title {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  width: fit-content;
  height: fit-content;
  border-radius: 15px;
}

.selected {
  border: 5px solid rgb(128, 0, 28);
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.8);
}

button {
  background-color: rgb(128, 0, 28);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}